body {
    font-family: Arial, sans-serif;
    background-color: rgb(156 163 175 );
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(229 231 235);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2, h3 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #89A8B2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all ease-in 0.2s;
  }
  
  button:hover {
    background-color: #B3C8CF;
    color:black;
    border:1px solid black;
  }
  
  #studentRecords {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .record span {
    flex: 1;
  }
  
  .record button {
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
  }
  
  .record button:hover {
    background-color: #c82333;
  }